* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

header {
    background-color: #222;
} 

header nav ul {
    padding: 0;
    list-style: none;
    text-align: center;   
}

header a:link {
    text-decoration: none;
    color: #c78c06;
}

.wrapper {
    background-color: #ffe6ac;
    gap: 2em;
}

th {
    background-color: #ffe6ac;
}
.main-banner-big {
    position: relative;
}

footer {
    background-color: #222;
    color: #c78c06;
}